.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }

/* navbar */
.elfinder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.elfinder-navbar .ui-state-active { border-color:#00afec; color:#fff; }
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #dadada; border-color:#aaa; color:#fff; }

/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background:#fff; }
/* list view*/
.elfinder-cwd table tr:nth-child(odd),
.elfinder-cwd table tr:nth-child(2n+1) { background-color:#ededed; }
.elfinder-cwd table tr { border-top:1px solid #fff; }

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}
/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}
.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #00afec; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../images/elfinder/arrows-active.png'); }

/* Overriding the jquery ui */
.ui-widget-header { background:#fff; border-radius: 0; border-color: #dbdcdc; }
.ui-widget-content { border: 0; }
	.ui-widget-content .elfinder-button-search .ui-icon { margin-top: -13px; }
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover, .elfinder-navbar .ui-state-active { background: #00afec; }
.elfinder-contextmenu, .elfinder-contextmenu-sub { z-index: 9999; }
.elfinder-toolbar { overflow: hidden; padding: 10px; }

/* reseting the backgrounds */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #fff; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-image: none!important; }
.elfinder-cwd-file.ui-state-hover { background-color: #fff!important; }

#sigPro .elfinder-cwd-filename input[type="text"] { max-width: 100%; height: 18px; line-height: 15px; }
#sigPro .elfinder-button-search input{border:1px solid #AAAAAA;border-radius:12px 12px 12px 12px;font-size:0.8em;height:22px;line-height:22px;outline:0 solid;padding:0 20px;width:160px;}
#sigPro .elfinder-button:hover {  background-color: #00afec; }
#sigPro .elfinder-button.ui-state-disabled:hover { background-color: none; }
#sigPro .elfinder .elfinder-navbar { background:#e3e3e3; }
.isJVersion30 .elfinder-button-search .ui-icon { top: 39%; }
.ui-icon:hover,
.elfinder-button.elfinder-button-search:hover  { background-color: transparent!important; cursor: pointer; }
/* dialog boxes */
.ui-dialog {position: absolute; z-index: 10005; margin-top: 190px; }
.ui-dialog { margin-top: 110px; }
.elfinder-quicklook { margin-top: 75px; }

.elfinder-statusbar { padding-top: 15px; padding-bottom: 15px; }
.ui-resizable-se { right: -3px; bottom: 1px; }
.elfinder-resize-control input[type=text] { width: auto; }
